*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: rgba(88,89,103,.37);
}
.formulario{
  margin: 140px auto;
  border-radius: 6px;
  width: 30%;
  background: white;
}
.alert{
  position: absolute;
  top: 70px;
  right: 10px;
}
.input{
  width: 36%;
  padding: 10px;
  margin-left: 30px;
}
.inputs{
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 30px;
}
h2{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.entrar{
  margin-left: 35%;
  padding: 7px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
i{
  font-size: 27px;
}
h3{
  width: 40%;
  margin: auto;
  text-align: center;
}
.close{
  position: absolute;
  top: 5px;
  right: 10px;
}
.btn-radio{
  border: 1px solid black;
  display: inline;
  margin-left: 10px;
}
.radios{
  width: 70%;
  margin-top: 5px;
  margin-left:20px ;
  height: auto;
}
.custom-control-label{
  margin-left: 28px;
}
